

.EditorConverter{
  position: absolute;
  margin-right: 0;
  height: fit-content;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 25%;
      background: rgb(255, 255, 255);
    
      
      filter: drop-shadow(0px 0px 1.5px black);
      display: none;
      /*animation: glide 1s forwards;*/
  z-index: 4;
}

.animateEditorConverter{
  display: flex;
  animation: glide 0.25s forwards;
}

.animateBackEditorConverter{
  display: flex;
  animation: glider 0.25s forwards;
}




@keyframes glide{
  0%{
      transform: translateY(75%);
      filter: drop-shadow(1px -5px 1.5px black);
  }
  100%{
    filter: drop-shadow(1px -5px 1.5px black);
      transform: translateY(0px);
  }
}
@keyframes glider{
  0%{
      transform: translateY(0px);
      filter: drop-shadow(1px -5px 1.5px black);
  }
  
  100%{
    filter: drop-shadow(1px -5px 1.5px black);
    transform: translateY(100%);
      
 
  }
}

.firstColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.middleColumn{
    display: grid;
  grid-template-rows: 1fr 1fr 1fr;    
}

.lastColumn{
display: grid;
grid-template-columns: 1fr 1fr 1fr;

flex-direction: row;
align-items: center;

}

.lastColumn div{
  display: grid;
 
  
  }

.firstColumn button{

  height: fit-content;
  width: fit-content;
  font-family: rig-shaded-light-face,sans-serif;
  border: solid black 0.5px;
  border-radius: 10px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 10;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;

  
  }

.converterForm{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-left: 10%;
    width: 100%;
    
}

.inputField{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
}

#noteNameField{
  height: fit-content;
  width: fit-content;
  font-family: rig-shaded-light-face,sans-serif;
  border: black solid 1px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 10;
  background: white;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;

}


#nameField {
    font-weight: 10;
   font-size: 1.5rem;
   padding: 0;
   margin: auto;
 
}

.inputField input{
    margin: 1rem;
    padding: 0;
    height: 2rem;
    font-family: rig-shaded-light-face,sans-serif;
}

.inputField button{
    margin: 1rem;
    font-family: rig-shaded-light-face,sans-serif;
    background: white;
    border-radius: 5px;
    
  
    
}


.trashBin{
    height:5rem;
    margin: auto;
  
    order: 3;
}

.cls-11 {
    fill: #fff;
  }

  .cls-11, .cls-22, .cls-33 {
    stroke: #000;
    stroke-miterlimit: 10;
  }

  .cls-33 {
    stroke-width: 30px;
  }



  .backsideText{
      height: fit-content;
      height: fit-content;

      font-family: rig-shaded-light-face,sans-serif;
      border: black solid 1px;
      border-radius: 10px;
      font-size: 1.5rem;
      font-weight: 10;
      background: white;
     
  }

  .cls-111 {
    fill: rgb(252, 252, 252);
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 5px;
    
  }

  .cls-112 {
    fill: rgb(255, 255, 255);
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 5px;
    
  }

  .baseCard{
      width: 5rem;
      margin: auto;
  }

.cardNameField{
 display: flex;
 flex-direction: column;
  margin: auto;
}



  .trashBin{
    width: 5rem;
    filter: drop-shadow(0rem 0rem 0.15rem rgb(90, 90, 90)); 
  }

  .trash {
    fill: #fff;
    
  }

  .trashBin:hover .top{
    animation: flow 0.1s forwards;
}

  .trash, .trash2, .trash3 {
    stroke: #000;
    stroke-miterlimit: 10;
  }

  .trash3 {
    stroke-width: 30px;
    /* animation: flow 1s forwards; */
  }

  @keyframes flow {
    0%{

    }
    100%{

      transform:  translateX(-100px) translateY(100px) rotate(-20deg);
    }
  }