

.noteName{
    display: flex;
    flex-direction: row;
}

.middleCollumn{
    display: block;
}

.converterForm{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    
}

.inputField{
    display: block;
    padding: 1rem;
}

.inputField label{
    font-weight: 10;
   font-size: 1.5rem;
   padding: 0;
   margin: 0;
   height: fit-content;

}


#nameField {
    font-weight: 10;
   font-size: 1.5rem;
   padding: 0;
   margin: 0;
   margin-left: 7rem;
}

.inputField input{
    margin: 1rem;
    padding: 0;
    height: 2rem;
    font-family: rig-shaded-light-face,sans-serif;
}

.inputField button{
    margin: 1rem;
    font-family: rig-shaded-light-face,sans-serif;
    background: white;
    border-radius: 5px;
    
}


.trashBin{
    height:5rem;
}

.cls-11 {
    fill: #fff;
  }

  .cls-11, .cls-22, .cls-33 {
    stroke: #000;
    stroke-miterlimit: 10;
  }

  .cls-33 {
    stroke-width: 30px;
  }


  .lastRow{

    display: flex;
  }

  .backsideText{
      height: 1rem;
     
  }

  .cls-111 {
    fill: rgb(252, 252, 252);
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 5px;
    
  }

  .cls-112 {
    fill: rgb(255, 255, 255);
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 5px;
    
  }

  .baseCard{
      width: 5rem;
      margin: auto;
  }


  .trashBin{
    width: 5rem;
    filter: drop-shadow(0rem 0rem 0.15rem rgb(90, 90, 90)); 
  }

  .trash {
    fill: #fff;
    
  }

  .trash, .trash2, .trash3 {
    stroke: #000;
    stroke-miterlimit: 10;
  }

  .trash3 {
    stroke-width: 30px;
  }